<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhenapp.mapper.Custom.TDateInfoCustomMapper" >
	<insert id="insertDate" parameterType="com.zhenapp.po.Custom.TDateInfoCustom">
		insert into t_date_info ( dateid, datevalue, 
	      createtime, createuser, updatetime, 
	      updateuser)
	    values ( #{dateid,jdbcType=VARCHAR}, #{datevalue,jdbcType=VARCHAR}, 
	      #{createtime,jdbcType=VARCHAR}, #{createuser,jdbcType=VARCHAR}, #{updatetime,jdbcType=VARCHAR}, 
	      #{updateuser,jdbcType=VARCHAR})
	</insert>
	
	<delete id="deleteDate" parameterType="com.zhenapp.po.Custom.TDateInfoCustom">
		delete from t_date_info where dateid=#{dateid}
	</delete>
</mapper>